.category-list {
  border: 1px solid #afb5b3;
}
.myProduct {
  border: 1px solid #d0cbcb;
  border-radius: 8px;
  text-align: center;
}

.cart-detail{
  border: 1px solid #d0cbcb;
}
.cart-detail .hr{
  border: 1px solid #d0cbcb;
  width: 100%;
}
.cart-detail .item {
  border-bottom: 1px solid #d0cbcb;
}
.total{
  font-weight: 800;
}